nav,
.header__theme {
  align-items: center;
}

nav {
  width: 100vw;
}

nav > div {
  max-width: var(--maxwidth);
  margin: var(--marginwidth);
  display: flex;
  justify-content: space-between;
}

.header__theme {
  display: flex;
}
