:root {
  --mobile: 375px;
  --desktop: 1440px;

  --primeryCyan: hsl(180, 66%, 49%);
  --primeryDarkViolet: hsl(257, 27%, 26%);

  --secondaryRed: hsl(0, 87%, 67%);

  --neutralGray: hsl(0, 0%, 75%);
  --neutralGrayishViolet: hsl(257, 7%, 63%);
  --neutralVeryDarkBlue: hsl(255, 11%, 22%);
  --neutralVeryDarkViolet: hsl(260, 8%, 14%);

  --fontSize: 18px;
  --fontFamily: [Poppins](https://fonts.google.com/specimen/Poppins);
  --fontWeights: 500, 700;
}

